{% extends 'ifoadmin/base.html' %}


{% block content %}
	
	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container">
		
		<div class="row mt-5 pt-3">
			<div class="col-md-8 offset-md-2">
				{% for msg in messages %}
					{% if msg.tags == 'success' %}
					<div class="alert alert-success alert-dismissible fade show" role="alert">
						{{msg}}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><i class="fa fa-close fa-rotate-45" style="font-size:16px; font-weight: 300;"></i></span>
						</button>
					</div>
					{% endif %}
					{% if msg.tags == 'error' %}
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						{{msg}}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><i class="fa fa-close fa-rotate-45" style="font-size:16px; font-weight: 300;"></i></span>
						</button>
					</div>
					{% endif %}
				{% endfor %}
				<div class="card my-3 shadow">
					<div class="card-body" style="background: rgb(240, 240, 240);">
						<h4>Reset Password</h4>
						<hr>
						<div class="alert alert-info">
							Enter mail ID that associated with your registered account. 
						</div>
						<form method="POST">
							{% csrf_token %}
							{{ password_reset_form|crispy }}
							<input class="btn btn-primary btn-block" type="submit" value="Reset Password">
						</form>
						<hr>
						<a href="{% url 'loginpage' %}"> <i class="fas fa-arrow-left"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}