{% extends "ifoadmin/base.html" %}
    {% load crispy_forms_tags %}

    {% block content %}
    <div class="container">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow" style="background-color: rgb(206, 215, 223);">
                    <div class="card-body">
                        <h4>Reset Password</h4>
                        <hr>
                        {% if form %}
                        <form method="POST">
                            {% csrf_token %}
                            {{form|crispy}} 
                            <br>
                            <input class="btn btn-primary btn-block" type="submit" value="Reset Password Confirm">
                        </form>
                        {% else %}
                            Link expired. 
                        {% endif %}
                        <hr>
                        <a href="/" class="btn btn-primary text-decoration-none">Back</a>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}