{% extends "user/home.html" %}

{% block navurl %}
 <a class="navbar-brand " href="{% url 'msgHome' %}" >Messages</a>
{% endblock  %} 

{% block content %}

        <div class="d-none d-lg-block">
          <div class="row">
            {% if messages %}
                {% for imsg in messages %}
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="card rounded" style="min-height: 22rem;">
                            <div class="card-body">
                              <div class="h-11">
                                <h4 class="card-title text-capitalize font-bold">{{imsg.title|truncatechars:55}}</h4>
                              </div>
                              <div class="">
                                {% if imsg.readless %}
                                  <p class="card-text mt-3" style="font-size: 12px;">{{imsg.readless}} ....</p>
                                  <a href="{% url 'msgdetails' imsg.title %}" class="hover:text-blue-600 text-blue-900" style="font-size: smaller;">readmore</a>
                                {% else %}
                                  <p class="card-text mt-3" style="font-size: 12px;">{{imsg.description}}</p>
                                {% endif %}
                              </div>
                              
                              
                            </div>
                            <div class="card-footer bg-transparent border-none -mb-2">
                                {% if imsg.msgfiles %}
                                {% for i in imsg.msgfiles %}
                                  <a href="{{i.files.url}}" class="hover:bg-gray-200">
                                      {% if i.ext == '.pdf' %}
                                      <i class="fas fa-file-pdf-o text-red-700" aria-hidden="true"></i>
                                      {% elif i.ext == '.png' or i.ext == '.jpg' or i.ext == '.jpeg' %}
                                      <i class="fas fa-picture-o text-blue-400" aria-hidden="true"></i>
                                      {% elif i.ext == '.xlsx' or i.ext == '.xls' or i.ext == '.csv' %}
                                      <i class="fas fa-file-excel-o text-green-700" aria-hidden="true"></i>
                                      {% elif i.ext == '.docx' %}
                                      <i class="fas fa-file-word-o text-blue-700" aria-hidden="true"></i>
                                      {% elif i.ext == '.pptx' %}
                                      <i class="fas fa-file-powerpoint-o text-red-500" aria-hidden="true"></i>
                                      {% else %}
                                      <i class="fas fa-file text-grey-600" aria-hidden="true"></i>
                                      {% endif %}
                                      <small>{{i.fname}} </small>
                                  </a><br>
                                {% endfor %}
            
                                {% else %}
                                    <small>No file attached</small>
                                {% endif %}
                            </div>
                            <div class="card-footer bg-transparent border-bottom-0">
                                <div class="row -mb-4">
                                    <div class="col-7 flex justify-start">
                                        <small class="text-muted">{{imsg.upload_date}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent h-0 border-none">
                                <p class="card-text -mt-4">
                                    {% if imsg.timelaps %}
                                    <!-- <small class="text-muted" style="font-size: 9px;">Last updated {{imsg.timelaps}} ago</small> -->
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
              <div class="ml-3">
                No messages..!
              </div>
            {% endif %}
          </div>
        </div>

        <!-- ------------------------------- mobile View ------------------------------------- -->
        <div class="d-block d-lg-none" style="margin-top: -71px;">
          <!-- <div class="flex justify-between -mt-16 mb-3">
            <div class="flex justify-end">
              <a href="{% url 'home' %}"
                  class="flex items-center justify-center px-2 py-1 text-xs uppercase border rounded-full gap-x-1 hover:bg-gray-50 text-decoration-none">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500" viewBox="0 0 20 20"
                      fill="currentColor">
                      <path fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z"
                      clip-rule="evenodd" />
                  </svg>
                  Go Back
              </a>
            </div>
            
            <div class="grid item-center">
              <a href="{% url 'msgHome' %}" style="font-weight: 600; font-size: large; text-decoration: none; ;">Messages</a>
            </div>
          </div> -->
          <div class="row ">
            {% if messages %}
                {% for imsg in messages %}
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="card rounded" style="min-height: 16rem;">
                            <div class="card-body">
                              <div class="h-11">
                                <h4 class="card-title text-capitalize font-bold">{{imsg.title|truncatechars:55}}</h4>
                              </div>
                              <div class="">
                                {% if imsg.readless %}
                                  <p class="card-text mt-3" style="font-size: 12px;">{{imsg.readless}} ....
                                    <a href="{% url 'msgdetails' imsg.title %}"  class="hover:text-blue-600 text-blue-900" style="font-size: smaller;">readmore</a></p>
                                  
                                {% else %}
                                  <p class="card-text mt-3" style="font-size: 12px;">{{imsg.description}}</p>
                                {% endif %}
                              </div>
                            </div>
                            <div class="card-footer bg-transparent border-none -mb-2">
                                {% if imsg.msgfiles %}
                                {% for i in imsg.msgfiles %}
                                <a href="{{i.files.url}}" class="hover:bg-gray-200">
                                    {% if i.ext == '.pdf' %}
                                    <i class="fas fa-file-pdf-o text-red-700" aria-hidden="true"></i>
                                    {% elif i.ext == '.png' or i.ext == '.jpg' or i.ext == '.jpeg' %}
                                    <i class="fas fa-picture-o text-blue-400" aria-hidden="true"></i>
                                    {% elif i.ext == '.xlsx' or i.ext == '.xls' or i.ext == '.csv' %}
                                    <i class="fas fa-file-excel-o text-green-700" aria-hidden="true"></i>
                                    {% elif i.ext == '.docx' %}
                                    <i class="fas fa-file-word-o text-blue-700" aria-hidden="true"></i>
                                    {% elif i.ext == '.pptx' %}
                                    <i class="fas fa-file-powerpoint-o text-red-500" aria-hidden="true"></i>
                                    {% else %}
                                    <i class="fas fa-file text-grey-600" aria-hidden="true"></i>
                                    {% endif %}
                                    <small>{{i.fname}} </small>
                                </a><br>
                                {% endfor %}
                                
                                {% else %}
                                    <small>No file attached</small>
                                {% endif %}
                            </div>
                            
                            <div class="card-footer bg-transparent mb-2">
                                <div class="row -mb-4">
                                    <div class="col-7 flex justify-start">
                                        <small class="text-muted">{{imsg.upload_date}}</small>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                {% endfor %}
            {% else %}
              <div class="ml-3">
                No messages
              </div>
            {% endif %}
          </div>
        </div>

{% endblock %}
    