<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'userpage' %}">
                <div class="card l-bg-pink text-center"  id="grad1" style="min-height: 180px;">
                    <div class="mt-5">
                        <h3 class="heading mr-4" style="text-transform: capitalize;color: rgb(255, 255, 255);font-size: x-large;
                        position: relative;font-weight: 400;top: 18px;right: 10px;float: right;">
                            Users
                        </h3>
                        <div class="mt-5">
                            <br>
                        </div>
                    </div>
                </div>
                <i class="fa fa-users" style="color: rgba(182, 83, 141, 0.185);font-size: 141px;
                position: absolute;
                bottom: 42px; left: 33px;" ></i>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'addmonth' %}">
                <div class="card l-bg-green text-center"  id="grad1" style="min-height: 180px;">
                    <div class="mt-5">
                        <h3 class="heading mr-4" style="text-transform: capitalize;color: rgb(255, 255, 255);font-size: x-large;
                        position: relative;font-weight: 400;top: 18px;right: 10px;float: right;">
                            Attendance
                        </h3>
                        <div class="mt-5">
                            <br>
                        </div>
                    </div>
                </div>
                <i class="fa fa-table" style="color: rgba(79, 148, 85, 0.185);font-size: 147px;
                position: absolute;
                bottom: 32px; left: 33px;" ></i>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'salaryhome' %}">
                <div class="card l-bg-red text-center"   style="min-height: 180px;">
                    <div class="mt-5">
                        <h3 class="heading mr-4" style="text-transform: capitalize;color: rgb(255, 255, 255);font-size: x-large;
                        position: relative;font-weight: 400;top: 18px;right: 10px;float: right;">
                            Salary
                        </h3>
                        <div class="mt-5">
                            <br>
                        </div>
                    </div>
                </div>
                <i class="fas fa-coins" style="color: rgba(182, 91, 103, 0.199);font-size: 121px;
                position: absolute;
                bottom: 42px; left: 33px;" ></i>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'messagehome' %}">
                <div class="card l-bg-cyan text-center"  id="grad1" style="min-height: 180px;">
                    <div class="mt-5">
                        <h3 class="heading mr-4" style="text-transform: capitalize;color: rgb(255, 255, 255);font-size: x-large;
                        position: relative;font-weight: 400;top: 18px;right: 10px;float: right;">
                            Messages
                        </h3>
                        <div class="mt-5">
                            <br>
                        </div>
                    </div>
                </div>
                <i class="fas fa-comments" style="color: rgba(68, 67, 133, 0.281);font-size: 121px;
                position: absolute;
                bottom: 42px; left: 33px;" ></i>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'hr-home' %}">
                <div class="card l-bg-black text-center"  id="grad1" style="min-height: 180px;">
                    <div class="mt-5">
                        <h3 class="heading mr-4" style="text-transform: capitalize;color: rgb(255, 255, 255);font-size: x-large;
                                    position: relative;font-weight: 400;top: 18px;right: 10px;float: right;">
                            Conversion
                        </h3>
                        <div class="mt-5">
                            <br>
                        </div>
                    </div>
                </div>
                <i class="fa fa-gear" style="color: rgba(68, 67, 133, 0.281);font-size: 121px;
                position: absolute;
                bottom: 42px; left: 33px;" ></i>
            </a>
        </div>
    </div>
</div>

