<!-- Modal -->
<div class="modal fade" id="uploadfile" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    
    <div class="modal-content" style="width:450px; height:270px;top: 52px;">
        
        <div class="modal-header">
        <h4 class="modal-title">EXCEL UPLOAD</h4>
        </div>
        <div class="modal-body" >
        
        <form  method="post" action="{% url 'upload-salary' year month %}" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <input type="month" name="yr-mnth" value="{{ym}}" min="2018-01" max="2024-12" required> -->
            <input type="file" name="salaryfile" class="upfile" required>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
        <button type="submit" class="btn btn-primary" id="btnFetch">UPLOAD</button>
        </form>
        </div>
    </div>
    </div>
</div>